@model ProyectoFinal_G8.Models.Rol

@{
    ViewData["Title"] = "Eliminar Rol";
}

<div class="container mt-4">
    <h1>Eliminar Rol</h1>

    <h3>¿Está seguro de que desea eliminar esto?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NombreRol)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.NombreRol)</dd>
            <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Descripcion)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdRol" />
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
        </form>
    </div>
</div>