@model ProyectoFinal_G8.Models.Mascota

@{
    ViewData["Title"] = "Editar Mascota";
}

<div class="container mt-4">
    <h1>Editar Mascota</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdMascota" />
                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Especie" class="form-label"></label>
                    <input asp-for="Especie" class="form-control" />
                    <span asp-validation-for="Especie" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Raza" class="form-label"></label>
                    <input asp-for="Raza" class="form-control" />
                    <span asp-validation-for="Raza" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FechaNacimiento" class="form-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdUsuarioDueño" class="form-label"></label>
                    <select asp-for="IdUsuarioDueño" class="form-select" asp-items="ViewBag.IdUsuarioDueño"></select>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}